services:
  app:
    container_name: yuchi-server
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${APP_PORT}:${APP_PORT}
    expose:
      - '8080'
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    networks:
      - backend
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.app.rule=Host(`test-domain.local`)'
      - 'traefik.http.services.app.loadbalancer.server.port=3000'
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: '2.0'
          memory: 3.75g
    environment:
      - REDIS_HOST=redis
      - DB_HOST=postgres

  redis:
    image: redis:7.0-alpine
    container_name: redis
    ports:
      - ${REDIS_PORT:-6379}:6379
    networks:
      - backend

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    restart: unless-stopped
    environment:
      - REDIS_HOSTS=redis
    ports:
      - ${REDIS_COMMAND_PORT:-8081}:8081
    networks:
      - backend

  postgres:
    image: postgres:16.2
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB_MAIN: ${DB_MAIN}
      POSTGRES_DB_TEST: ${DB_TEST}
    ports:
      - ${DB_PORT:-5432}:5432
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    networks:
      - backend

networks:
  backend:

volumes:
  pg_data:
  node_modules:
