<html>
  <head>
    <title>{{subject}}</title>
  </head>

  <body>
    <p>Hey {{name}},</p>

    <p>You was register on our website</p>
    <p>Please confirm your email by clicking on the button below</p>

    <p>
      <a href='{{url}}'>Confirm</a>
    </p>

    <p>If you did not request this email you can safely ignore it.</p>

    <p>Thanks</p>
    <p>The Noti team</p>
  </body>
</html>
